#vertex_sort { list-style-type: none; margin: 0; padding: 0; width: 80%; }
#vertex_sort li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; height: 30px; }
#vertex_sort li span { position: absolute; margin-left: -1.3em; }
.table {
	font-size: 12;
}
.stats {
	height: 150px;
	overflow-y: scroll;
}
.priority-list {
	height: 300px;
	overflow-y: scroll;
}
#myCanvas {
}